<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="card shadow rounded-2 mb-3">
        <img src="https://via.placeholder.com/200x75" class="card-img-top" alt="Example">
        <div class="card-body">
          <p class="card-text">
            <em class="bi bi-briefcase-fill"></em>
            Entwickler
          </p>
          <p class="card-text">
            <em class="bi bi-house-fill"></em>
            Zürich, Schweiz
          </p>
          <p class="card-text">
            <em class="bi bi-envelope-fill"></em>
            contact@dominic-fritschi.dev
          </p>

          <hr>

          <h5 class="card-text">
            <em class="bi bi-stars"></em>
            Skills
          </h5>

          <p class="card-text">JAVA</p>
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" aria-label="Success example" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7">

      <div class="card shadow rounded-2 mb-3">
        <div class="card-body">
          <h3 class="card-text">
            <em class="bi bi-briefcase-fill"></em>
            Berufserfahrung
          </h3>
        </div>
      </div>

      <div class="card shadow rounded-2 mb-3">
        <div class="card-body">
          <h3 class="card-text">
            <em class="bi bi-star-fill"></em>
            Aus- und Weiterbildung
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid bg-primary text-center p-3 mt-5">
  <p>By Dominic Fritschi.</p>
</div>
